.searchHeadr {
  background-color: rgba($color: #eee, $alpha: 0.4);
}
.searchBox {
  position: relative;
  width: 80%;
  max-width: 1150px;
  min-width: 700px;
  margin: 0 auto;
  padding: 20px 0;
  height: 40px;
  box-sizing: content-box;
  display: flex;
  input {
    width: 600px;
    background-color: #fff;  
	  outline:none;  
    border:none;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    height: 40px;
    line-height: 20px;
    color: #555;
    &:focus {
      border:none;
    }
    &::placeholder {
      color: #aaa;
    }
  }
  div {
    cursor: pointer;
    background-color: #fff;
    height: 100%;
    padding: 10px 10px 0 10px;
  }
}
.placeList {
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 100;
  background-color: #fff;
  width: 640px;
  color: #666;
  border: 1px solid rgba($color: #eee, $alpha: 0.8);
  border-top: none;
  box-sizing: border-box;
  li {
    cursor: pointer;
    padding: 8px 15px;
    &:hover {
      color:#333;
    }
  }
}
.nav {
  width: 80%;
  max-width: 1150px;
  min-width: 700px;
  margin: 0 auto 20px;
  padding: 20px 0;
}
.navItem {
  line-height: 26px;
  font-size: 15px;
  display: flex;
  margin-bottom: 20px;
}
.label {
  width: 50px;
  font-weight: 500;
  margin-right: 20px;
}
.choice {
  flex: 1;
  span {
    cursor: pointer;
    margin-right: 15px;
    white-space: nowrap;
  }
}
.activeTag {
  color: #1890ff;
}
/**
  搜索结果展示
*/
.searchResult {
  width: 80%;
  max-width: 1150px;
  min-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  p {
    font-weight: 500;
    font-size: 18px;
    span {
      color: #1890ff;
    }
  }
  i {
    font-style: normal;
    color: #bbb;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
  }
}
/**
  搜索内容后的tabs
*/
.tabs {
  width: 80%;
  max-width: 1150px;
  min-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  display: flex;
  li {
    line-height: 28px;
    height: 68px;
    font-style: 18px;
    color: #333;
    margin-bottom: -2px;
    padding: 20px 15px;
    cursor: pointer;
  }
}
.activeTab {
  color: #1890ff !important;
  border-bottom: 3px solid #1890ff;
}
