.header {
  background-color: #f5f5f6;
  padding: 40px;
  text-align: center;
  h3 {
    font-size: 28px;
    font-weight: 500;
  }
  p {
    color: #777;
    font-size: 14px;
  }
}
.formBox {
  padding: 40px 0 10px;
  width: 600px;
  margin: 0 auto;
}
.form {
  li {
    margin-bottom: 10px;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    input {
      border: none;
      outline:none;  
      color: #555;
      flex: 1;
      font-size: 14px;
      &:focus {
        border:none;
      }
      &::placeholder {
        font-size: 14px;
        color: #bfbfbf;
        font-weight: normal;
      }
    }
    input[type=number] {
      -moz-appearance:textfield;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    & > span {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      width: 80px;
    }
  }
}
.inputBox {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  input {
    background-color: #eee;
    width: 120px !important;
    padding: 10px;
    margin-right: 10px;
  }
}
.verify {
  font-size: 14px;
  color: red;
  margin: 0;
  line-height: 24px;
  height: 24px;
}
.submitButton {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  width: 140px;
  padding: 10px;
  text-align: center;
  background-color: #00ac65;
  margin: 0 auto;
  cursor: pointer;
}
.heightLabel {
  display: flex;
  align-items: center;
}
.tagBox {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.placeholder {
  color: #bbb;
  font-size: 15px;
  margin-bottom: 0;  
}
.tagButton {
  font-size: 14px;
  width: 80px;
  line-height: 30px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #00ac65;
}
.imgBox {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  span {
    margin: 35px auto 0;
    display: none;
    width: 30px;
    cursor: pointer;
    color: #eee;
    font-size: 30px;
  }
  &:hover span{
    display: block;
  } 
}
.imgBtn {
  position: relative;
  width: 100px;
  height: 100px;
  input {
    opacity: 0;
    font-size: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  div {
    border: 2px solid #eee;
    color: #ddd;
    text-align: center;
    line-height: 98px;
    font-size: 34px;
    width: 100%;
    height: 100%;
  }
}